*:after,
*:before,
p a,
a,
button.allbutton-btn,
.ft-socialicon li a,
.tg-roundicontext,
.tg-roundicontext .tg-usericonholder,
.tg-themedropdownmenu,
.sub-menu,
.mega-menu,
.themetabnav li a,
.tg-themetabcontent,
.featureimg,
.bookimg,
.backcover,
.owl-prev,
.owl-next,
.postbook,
.authors figure,
.authors figure a,
.authors figure a img,
.tg-post figure,
.tg-post figure a,
.tg-post figure a img,
textarea,
.ft-widget ul li figure,
.ft-widgetinstagram ul li figure,
.ft-widgetinstagram ul li figure figcaption,
.tg-quantityholder .minus,
.tg-quantityholder .plus,
.tg-alsoavailable figure figcaption ul li span,
.tg-prevpost figure,
.tg-nextpost figure,
.tg-comments li .authorsbox,
.tg-comments li .authorsbox .tg-bottomarrow,
.bookimg,
.hovercontent .newbook-description{
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}
.bookpage{
	-webkit-transition: all 400ms ease-in-out;
	-moz-transition: all 400ms ease-in-out;
	-ms-transition: all 400ms ease-in-out;
	-o-transition: all 400ms ease-in-out;
	transition: all 400ms ease-in-out;
}
.bookcategory{
	-webkit-transition: all 500ms ease-in-out;
	-moz-transition: all 500ms ease-in-out;
	-ms-transition: all 500ms ease-in-out;
	-o-transition: all 500ms ease-in-out;
	transition: all 500ms ease-in-out;
}
.tg-bookprice{
	-webkit-transition: all 600ms ease-in-out;
	-moz-transition: all 600ms ease-in-out;
	-ms-transition: all 600ms ease-in-out;
	-o-transition: all 600ms ease-in-out;
	transition: all 600ms ease-in-out;
}
.ratingbox{
	-webkit-transition: all 700ms ease-in-out;
	-moz-transition: all 700ms ease-in-out;
	-ms-transition: all 700ms ease-in-out;
	-o-transition: all 700ms ease-in-out;
	transition: all 700ms ease-in-out;
}